# A set of mkdocs plugins required for building
# https://gitlab.diamond.ac.uk/sscc-docs/developer-guide
mkdocs
mkdocs-techdocs-core
mkdocs-git-revision-date-localized-plugin
mkdocs-include-dir-to-nav
mkdocs-awesome-pages-plugin
git+https://github.com/Andre601/mkdocs-pagenav-generator
