image:
  registry: ghcr.io
  repository: diamondlightsource/developer-portal-backend
  tag: null
  pullPolicy: null
  pullSecrets: []
  debug: false

logLevel: info

resources:
  requests:
    cpu: 100m
    memory: 1Gi
  limits:
    cpu: 1000m
    memory: 2Gi

postgres:
  host: developer-portal-postgresql
  port: 5432
  username: backstage
  password:
    existingSecret: developer-portal-postgresql
    key: password

service:
  port: 7007

ingress:
  create: true
  className: nginx
  tls: []
  host: dev-portal.diamond.ac.uk
  paths:
    - path: /api
      pathType: Prefix

serviceAccount:
  create: true
  name: ""

secrets:
  githubAppClientId: AgBGJChwcZVcnz5Zrs/BGVCu6PgGdga8Vg/w6Nv5ZUbN04/tkT+uz98as3TSJH9/A7cK3ebzmcrHATeNT/zzmaZjkz6qieCmHgKrTraHrGN7gOxd7zDyeD15iQY8tUdZx+iGKKyvpvuyHlRv6TfypgnOwf3Jif8wXZnNDpz7e+aJSORvlSxqftJFCaU9VaK0ahKeWWC+FxoON9AHLddQwp/rAele8xJLvWNudyFkv4p4lPSbmFOX19IagkMtw9YbZ6Aa16xrGrDJxgNhJHAluQ+ncPDPiH3BnSxzwwAnHSLgCE82pEnpF9cgpHVDyeImb9a1IiZIW6ftjgEpnkS7v7YhIq3Lovr/NMkOwSWGQP2dznn2ZF8tDREW3JZFJOrYKTnErqyP3zFZUVuJbpXANMcm6bD2hOTK0qXj1dHZXwXOnOKO0aRhEtNa05umSST55RkVOdRAC6D08VguOvSvSEDxHzas8GbMyBfdAt8Porqie2qJ5fzf0Y22rmrZW00gJes0XsdTe9N74nH0y3kZANn61LRlS2dMQ33lqU6KFG0dp754GDuA3FQ3ZgR8ZvbQPi+dArHjgmfqPtOHTQNxMG1vfrlFUyI+zNqmysO1PZBc4jXNZ7pOVlJX4n/d/kjF/pbRNdNgHgXA2e3WU217AOUhMOUbOfYn3NV0OVJ2mjrpWgecWgPMEF9kfBSy9kp9en9MZzUM/MeTgQyKCIC6ABNqCZEQew==
  githubAppSecret: AgAHXs6tAywlS5DpcPVx54GQlLzwSoioFt2meRBxfm4MBFIcJTQcgaZuSYTTctbqJP04jIY3KVfGAzNKF7YLC7+RULVbA1SHtFJt8R9Um1CHOT+Z1n1nkDVUEvy3MA0vKyhjDfHNG/2AAE/kW58PKcFSXyKFBxsWUDRHuRLg9kXZ3kOGfuF8VAY/5pQJt0EB+4bBLt8h5/vVXl66p5QBci6m1pMBqlFTAI+rnHDMCCM4NJQrZOFblQGBc1U5/nc+0sUO31/wltu3EvZ6oAc0S215G+6UkRclXxD8UNKrXV0+wXvQsaAQBsraXTA6RokKWEapSZStw47tQxihZPdnt5xdFmKMd0kbgqt+bWcTNku6kvHxLyggKKGuvJlRAvu4sxDntbeyffN5oUw9SKkaTVHnCtzYk/9ewaA9oaZYQ6DPSarF0cAkSayBvhNd8NxBXj+NOkY9Za/if3Pb7MMkudg9D5YS28Ib5GoXz21BXEoYOMdzgde9fwsTfan0YD2/JPHEe1FI+/QrLCdHCAfZhzKpm+9dnMxGktueVkpfiGitB0T0SYkN4lz9hA/G/5UadXlZ5hZmOSVXUMfGhmzyjcaQWgsUn9rTFqmDpF9RwI8JCUrvBF5vKM9JsWNnoV/CXKIwhNX08UF39GeUax7cEnJjxyuRkg2IFQH7emkv8XwTEPDz2/PsSjcUEwlkE0P4xpRoAPNuOCAw1WVB/86Ms6Cs+/nCa4E8lGNIRWQs4h5sBpzbLvfaUy+a
  githubToken: AgDPo+JJ+7q4u3AYEJaJaWqocyrShSAwdSbQg3aM2FKnOvZeDRS1mmbaoaUQdM9NmBFhsjflNWvENAS1ZGkN6WHuwWK0XMKbU4CzdbDPt8ijxBamBiflXVGheM1NoDfynpe5b2cU2TAWr2qFyPRGgbj0tH8KNoytzhYeeXDJUryQs7oTOxXA4+4u99Hp6n5uF1NVtB3WThejQ2uKKRmrw/ZszS2ciY6z0VgFmg1SPFbrSEnQtZyLEO2DpMC8FhI6strSIBuEUfB/ElKdnAaCjW0W4fnbJZGvJUnpUCITvzjTueyOd1FoMA1CfSLXDWm9hK525CHoedzPIotWtxdYDYw9ck5oV/Sk24nRRr0MyTmaPc0qfv1mFabo0BDp83MFDA1llUEA64sguaqGcXfmMTkeBGwal31fGTGXPatWl/yy/kIMYU+QLRVWzDg5RA6ZEeFRgD97MiYWwxek7vEbe4+IwyLCitylGGC6dB8gx/9DAX99yDuOySYu5YyEArZMJHmsy7X2pIAPKE/EU2Vd94THkguVtgvF/7Am9woMRoF6BKr14WFsNRkQiJstPZ0w09bUsMkgQQ3JiSzSa0PgMs20MWxm1IYeHg+ZaYGDe0IrXRE8j7LWvv7qJkW7h681Y2LNLqOIzGx+PgcwY41IuTz08KJaAItJBdvF2Uk/C1v5gOjqxBmlgpF9Vc9ur8qJPIVkGbp7SiHj21VXoXaCFNZqOnRQJ/cOB4/LMAILdkToDU02Hp4PFmZ5
  gitlabToken: AgBLhuc5GonGmPSdbnkS4nvEs958x13lqquIK7hhlWqfnC7FLbpyvUiUhojuLc/DoG8Di5yMUR3F3ILN41iHqVrhkmZ7d9dwNtwWCuyeRQxVsPBIRAcgGHZGXTlsJaNYfZ4f5tl5Jw/0AFPmykew6SzylvP5H7b8syrn7iOYsfZoWKtuJ3C4THEiuudl/gJR0TzvVubWJalt1uLC7qwvnqayQaYaSCyn+q4EQ1ktiptFE+pWlDxWkQj74Trp66yeTWD9rxlzsjZxVywcvawbajsWU/sdVHumPIC8HkWUO7/2eIOxr2YtX9tfd2Dv0bnbFSUTPmM5TyNlz7teBy8Spb25IqJOCbOzhmgKj5FvvD/SzTiLL9MMzIrJhipWAq5svwlpR4hXa2a+XO32nvzjsER5tNb8gvMGb6fXoqStdquodKuucUCj83oNanEh1bVGTP7XK833kVzObYSRS+zNrJ2I8EGipQDR8E1B3Xe/pNqjFnbb7zQeBfL6if8jSUMq+0DUdza7nriZ67kngmoZl9Bu05CEpOzb/b8n/ZBt4wXikM4LDB+HnAwIvFYlTJWayUp3+xpVjeK6wZcJE+JR9WeZHcogpwfa+JtxGfkJlVCK1mtKqSmiASYFLv9TrHbQ28ssNE9s9D6NZiDpMzO2gP3WUzHimA2Jzd8aGuBAxzfZl2qRDoRznsShxdcylm30j15twnnL0Me5bRIYE1yOGsD6XKlGlIObMFcKXQ==
  s3AccessKeyId: AgCkGhsZpj7RCX3/mDHpa38PyU1OfWKjdClYhFt5YaolEzvSazv5btvW+nL1vJ7ZxDdx6CPbaU8Ihg070EZ5ROfm6X1Ic0VY0QkRZg0gW2OfEMi/BPZwesCh3RWkwLTb4oO1ZiRFWWLbupf2Iv5CVEbGEhyLJGRBOvF2DVOsp5ZvJC+iyJ6U0vyIHxtlVqhI7yHVHfFtBgisqMdEbtJRDY10KHx+8iqrYpP1oNJONrF4gSM7uXpLFkDD+27neycs+2wSNIHqmDa4XCbHuUFkztElp2/CiazBK+0URAK5F8KuUktyz91/BnYtEjD/+3LwhETdZAk0vQZtSrMGyhG8ZiD0+yiuylztWxk8vYNEVfB+zeDJf+Wa6BnKtDDAmKjwWUSGqxGjrys3RDur3gjQpqhPetdE5U2kkKIsu06ijYEhPgKIjPAJVDJRVrZTJg8xHgh1XXVirBRYhUgLLIxr+y/AsCTiekvsG8NwiE80VgpmlsFZBz62Vx3esmsYQsJo2SQqMk1gsgwXt4DZw8rvJzWmMNw0Xa/9Wl/CZQHCIdrmkn8P/A6hwo2yDS8AmIUp77/KEBrqDLmz2bBcOrKlcEbw2bKusn1fScmoOEKvgE/Ew7JfPp74YxoOfLdpqjh74F3Pav+AEIBolRbDOc/t7eTbppiwESaBfLytUMV3C77C0FTvfd50t1I8YZQPTnBPw2tGP7I6iJn/udr7vmrX4tkM8LCz5Q==
  s3AccessKeySecret: AgAVE6KEEy1Vh97M/rHz9LRCzJ4do9GFRtQYO7o3tD6jpOQAbLHRHptBESSSJDBRWZia2wBjGL+rIwg/UW/EHDklHwq98wlF45ARCc38fGCJtYUlBWkE9bR1ERvA5eICmv5AduH7RxBPdhDTTwxASYH52xn0gq7tBlRg9a+Z7a7axKbfPd1ILCRWZKIm86aKoOiEryIc/9p8wP/il/JS8SmcOThyVarIEeaIVORKobdbFSXsuYmANNCN/say5rZQ7CB6+YoBk6jyWE9BRLMd33BTP3vY/bxywLdas6mgzCpEkjKtd1AQgtPiu68i8CJzS+XBN/QqWtcYzf7B7R5yvYmk4WL0X010EdkB1vxCu3tzMmk6Y6wzQ6IU1573ZnjL+8dro3keqBcZSM/qxGyfu/VrUiUkoKFu9gzKeUI+EmCFuJh0sx06PJiR8+kxaIOVHPy+XH6Xzw3NkztTDkhfbqj4mWbbuCgySmkLTJU4SjYI2gpqfqAUuHgosnYhl8mNiOYQ0e8yMTJNALgo1g+uTzjey5Aui93MpADmPkVOpZe/I9Wwn88v6hdpZrwbQrcU/JI7lo5YHDx7DRONT6boYAhRsgwKOZNlm//OhcXBjvs5CtVzlWEXHwj3jsJnQCYdu86a1hEGAMnDRY117f87kAEIY03CZuuUoAj2xsz2M5syl+54rIJ2Ps4kpJEB+VFBJ42ynYVAZddeXJYh6VZX+Ba8uHkX/05KkkCa79XizRyoh3cuEcBa9K/t
